<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Ra Board</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <a href="/" class="brand">
        <img src="/img/logo.png" alt="Ra Board" style="height:100px;">
    </a>
</header>

<main>
    <div th:insert="~{::content}"></div>
</main>

<footer>
    <p>© 2025.08.19 라디네 게시판 | 만든이: 라디네</p>
</footer>

</body>
</html>